# Environment variables
.env

# Node.js dependencies
node_modules/

# Go build artifacts
*.exe
*.out
*.o
*.a
*.so

# Go temporary & test files
_obj/
_test/
vendor/

# Editor/OS-specific files
.DS_Store

# Logs
*.log

# VS Code settings (optional)
.vscode/

# Build output
/bin/